
@{
    ViewData["Title"] = "Comedians";
}

<h1>Comedians</h1>

<h2>
    This page will simply exhibit a few of my favorite comedians that I grew up with.
</h2>
<br />

<div class="list-group">
    <label>Might be loud! Clean jokes</label>
    <a href="https://www.youtube.com/watch?v=cF8MpK-yK5o" class="list-group-item list-group-item-action active">
        Mitch Hedberg - 1998 
    </a>

</div>
