
@{ 
    ViewData["Title"] = "Home";
}

<h1>
    This assignment's purpose is to simply help us gain a
    better understanding regarding the MVC pattern and how
    it works!
</h1>
<br />

<h2>
    Tasks:
</h2>
<br />

<ul class="list-group">
    <li class="list-group-item">Create a minimum of 3 views</li>
    <li class="list-group-item">Create a layout page with navigation to all of your views</li>
    <li class="list-group-item">Add some styling, either your own custom CSS or use a library like Bootstrap</li>
</ul>