
@{
    ViewData["Title"] = "Music";
}

<h2>Music Page</h2>

<h3>
    This page will simply encompasses the names and 
    albums of my favorite bands/music groups.
</h3>
<br />

<div class="list-group">
    <label>Might be loud!</label>
    <a href="https://www.youtube.com/watch?v=G_DKip6fQ5M&list=PL3aqdxL0zyh1cJ5pzahMeZkavcGEZ8JQn" class="list-group-item list-group-item-action active">
        Bad Religion - Recipe For Hate (1993)
    </a>
    
</div>