
@{
    ViewData["Title"] = "Music";
}

<h2>Music Page</h2>

<h3>
    This page will simply encompasses the names and 
    albums of my favorite bands/music groups.
</h3>

<ul>
    <li>

    </li>
</ul>