
@{
    ViewData["Title"] = "Sports";
}

<h1>Sports Page</h1>

<h2>
    This page will simply exhibit a few of my favorite teams and athletes.
</h2>
<br />

<div class="list-group">
    <label>Might be loud!</label>
    <a href="https://www.youtube.com/watch?v=G_DKip6fQ5M&list=PL3aqdxL0zyh1cJ5pzahMeZkavcGEZ8JQn" class="list-group-item list-group-item-action active">
        Julio Jones - Atlanta Falcons
    </a>
    <a href="https://www.youtube.com/watch?v=G_DKip6fQ5M&list=PL3aqdxL0zyh1cJ5pzahMeZkavcGEZ8JQn" class="list-group-item list-group-item-action active">
        Julio Jones - Atlanta Falcons
    </a>

</div>




