
@{
    ViewData["Title"] = "Sports";
}

<h1>Sports Page</h1>

<h2>
    This page will simply exhibit a few of my favorite teams and athletes.
    Perhaps reasoning as to why they're so as well. 
</h2>




