
@{
    ViewData["Title"] = "Sports";
}

<h1>Sports Page</h1>

<h2>
    This page will simply exhibit a few of my favorite teams and athletes.
</h2>
<br />

<div class="list-group">
    <label>Might be loud!</label>
    <a href="https://www.youtube.com/watch?v=Q8b0XbtpFsA" class="list-group-item list-group-item-action active">
        Jason Williams - 1998 to 2011 (N.B.A.)
    </a>
</div>




